#loading {
    display: block;
    margin: auto;
}

.statistics {
  .header {
    font-weight: bold;
  }
  .row,
  .col {
    border-bottom: solid 0.5px rgba(0, 0, 0, 0.12);
    &.centered {
      text-align: center;
    }
  }
  .row:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
  }
}
