<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>TöggeliTurnier</ion-title>
  </ion-navbar>

<ion-toolbar>
  <ion-searchbar [(ngModel)]="newPlayer" (keyup.enter)="addPlayer()" (ionCancel)="this.newPlayer=''" placeholder="Spieler hinzufügen"></ion-searchbar>
  <ion-buttons end>
    <button ion-button solid icon-right color="primary"(click)="addPlayer()" style="marginright:12px;
 padding:21px 16px 21px 16px">Add
      <ion-icon name="md-add-circle"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content (ionScroll)="onScroll($event)">

  <div padding>
    <h2 style="color:#5b5b75">Vorhandene Spieler:</h2>
  </div>

  <ion-list no-padding>
    <!--<ion-item-sliding *ngFor="let item of needItems | async">-->
        <ion-item-sliding *ngFor="let player of needPlayers | async">
      <ion-item >
        <h1 *ngIf="player.isDone==false">{{player.value}}</h1>
        <button ion-button (click)="removePlayer(player.key)" color="light" item-right><ion-icon name="trash"></ion-icon></button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>